@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100vh;
    background: url("https://assets.codepen.io/6060109/ZigZag.png");
    font-family: Montserrat;
}

#outer-wrapper {
    display: flex;
}

.panel:nth-child(1) {
    display: none;
}

.panel:nth-child(3) {
    display: none;
}

.panel {
    width: 30%;
    min-width: 350px;
    height: 580px;
    background: #ffffff;
    margin: 70px auto;
    border-radius: 5px;
    background-blend-mode: normal;
    box-shadow: 0px 40px 40px -20px #3c7b61;
    position: relative;
}

#x-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.big-image-section{
    width: 109px;
    height: 109px;
    margin: auto;
    transform: translateY(50%);
}

.big-image-section > img {
    width: 100%;
}

.status-section {
    margin: auto;
    transform: translateY(70%);
    text-align: center;
}

.status-section h2 {
    font-weight: 600;
    font-size: 22px;
    color: #2F463D;
    line-height: 27px;
}

.status-section p {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #828282;
    margin-top: 10px;
}

.menu-section {
    height: 13%;
    margin: 0 auto;
    transform: translateY(160%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #f0fff5;
    background-blend-mode: normal;
}

.menu-section img {
    height: 100%;
}

.menu-section div {
    font-size: 12px;
    font-weight: 800;
    color: #2f463d;
    line-height: 17px;
    padding: 15px;
}

.menu-section div p {
    font-weight: 500;
    color: #7a8f85;
}

.menu-section a {
    color: #467a66;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.85px;
    padding: 15px;
}

.btn-bg-color-grey {
    background: #bdbdbd;
    background-blend-mode: normal;
    box-shadow: 0px 20px 20px rgba(167,167,167,0.2);
}

button {
    height: 9%;
    margin-top: 150px;
    transform: translateX(12%);
    border-radius: 5px;
    background: #46a67e;
    background-blend-mode: normal;
    box-shadow: 0px 20px 20px rgba(103,189,153,0.2);
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    border: none;
}

.btn-sct-width {
    width: 80%;
}

.dot-section {
    width: 60px;
    height: 5%;
    margin: auto;
    transform: translateY(110%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot {
    width: 7px;
    height: 7px;
    background: #e0e0e0;
    background-blend-mode: normal;
    border-radius: 50%;
}

.dot:nth-child(2) {
    background-color: #67bd99;
}

@media only screen and (min-width: 992px) {
    .panel {
        min-width: 425px;
        height:720px;
    }

    .panel:nth-child(1) {
        display: block;
    }

    .panel:nth-child(3) {
        display: block;
    }    

    .big-image-section{
        width: 150px;
        height: 150px;
        transform: translateY(40%);
    }

    .status-section {
        transform: translateY(50%);
    }

    .status-section h2 {
        font-size: 28px;
        line-height: 34px;
        height: 70px;
    }

    .status-section p {
        font-size: 16px;
        line-height: 26px;
    }

    .menu-section {
        transform: translateY(140%);
    }

    .no-menu {
        background: #fff;
        height: 7%;
        transform: translateY(160%);
    }

    .menu-section div {
        padding: 5px;
    }

    button {
        margin-top: 160px;
        transform: translateX(17%);
    }

    .panel:nth-child(1) .dot-section .dot:nth-child(1) {
        background-color: #67bd99;
    }

    .panel:nth-child(1) .dot-section .dot:nth-child(2) {
        background: #e0e0e0;
    }

    .panel:nth-child(3) .dot-section .dot:nth-child(3) {
        background-color: #67bd99;
    }

    .panel:nth-child(3) .dot-section .dot:nth-child(2) {
        background: #e0e0e0;
    }

    .dot-spacer {
        transform: translateY(220%);
    }

    .btn-sct-width {
        width: 75%;
    }

}