@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100vh;
    background: url("https://assets.codepen.io/6060109/ZigZag.png");
    font-family: Montserrat;
}

.panel {
    width: 90%;
    min-width: 327px;
    height: 567px;
    background: #ffffff;
    margin: 70px auto;
    border-radius: 5px;
    background-blend-mode: normal;
    box-shadow: 0px 40px 40px -20px #3c7b61;
    position: relative;
}

#x-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.happy-face-section{
    width: 109px;
    height: 109px;
    margin: auto;
    transform: translateY(50%);
}

.happy-face-section > img {
    width: 100%;
}

.confirmation-section {
    margin: auto;
    width: 80%;
    transform: translateY(70%);
    text-align: center;
}

.confirmation-section h2 {
    font-weight: 600;
    font-size: 22px;
    color: #2F463D;
    line-height: 27px;
}

.confirmation-section p {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #828282;
    margin-top: 10px;
}

.menu-section {
    width: 80%;
    height: 13%;
    margin: 0 auto;
    transform: translateY(160%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #f0fff5;
    background-blend-mode: normal;
}

.menu-section img {
    height: 100%;
}

.menu-section div {
    font-size: 12px;
    font-weight: 800;
    color: #2f463d;
    line-height: 17px;
    padding: 15px;
}

.menu-section div p {
    font-weight: 500;
    color: #7a8f85;
}

.menu-section a {
    color: #467a66;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.85px;
    padding: 15px;
}

button {
    width: 80%;
    height: 9%;
    margin-top: 150px;
    transform: translateX(12%);
    border-radius: 5px;
    background: #46a67e;
    background-blend-mode: normal;
    box-shadow: 0px 20px 20px rgba(103,189,153,0.2);
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    border: none;
}